.promo {
   /* .promo__slider */
   &__slider {
      padding-top: 20px;
      position: relative;
      button {
         top: 44%;
         font-weight: 700;
         font-size: 39px;
         z-index: 1;
         &.swiper-button-next {
            right: -50px;
            @media (max-width: 1410px) {
               right: 10px;
            }
         }
         &.swiper-button-prev {
            left: -50px;
            @media (max-width: 1410px) {
               left: 10px;
            }
         }
         @media (max-width: 890px) {
            display: none;
         }
      }
      @media (max-width: 890px) {
         padding-top: 10px;
      }
   }
   &__title {
      transition: color 0.3s;
      &:hover.icon-square:before {
         transform: translateX(8px);
         color: #2756fd;
      }
   }
   /* .promo__wrapper */
   &__wrapper {
      display: flex;
      position: relative;
      margin-bottom: 50px;
      transition: all 0.3s;
      left: 0;
   }
   // .promo__skeleton
   &__skeleton {
      white-space: nowrap;
   }
   /* .promo__card */
   &__card {
      width: 200px;
      position: relative;
      cursor: pointer;
      &::before {
         content: "";
         opacity: 0;
         position: absolute;
         width: 200px;
         height: 300px;
         top: 0;
         left: 0;
         background-color: rgba(0, 1, 6, 0.8);
         border-radius: 10px;
         transition: all 0.3s;
         z-index: 1;
         @media (max-width: 890px) {
            display: none;
         }
      }
      &:hover::before {
         opacity: 1;
         transform: scale(1.05);
      }
      &:hover .promo__content {
         opacity: 1;
      }
      &:hover img {
         transform: scale(1.05);
      }
      &:hover .promo__wrapper-title {
         color: #fff;
      }
      &:last-child {
         margin-right: 0;
      }
      &:hover .promo__card-img {
         transform: scale(1.05);
      }
      @media (max-width: 890px) {
         width: 130px;
      }
   }
   /* .promo__card-img */
   &__card-img {
      width: 200px;
      padding-top: 300px;
      overflow: hidden;
      border-radius: 10px;
      transition: transform 0.3s;
      position: relative;
      & img {
         width: 100%;
         transition: all 0.3s;
         image-rendering: -webkit-optimize-contrast;
         position: absolute;
         top: 0;
      }
      @media (max-width: 890px) {
         width: 130px;
         padding-top: 193px;
         img {
            height: 100%;
         }
      }
   }
   /* .promo__content */
   &__content {
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      top: 135px;
      color: #ffffff;
      padding: 0 10px 0 20px;
      z-index: 2;
      @media (max-width: 890px) {
         display: flex;
         width: 100%;
         top: 169px;
         justify-content: space-between;
         align-items: center;
         padding: 0 5px 0 8px;
         opacity: 1;
      }
   }
   /* .promo__content-rating */
   &__content-rating {
      font-size: 20px;
      font-weight: bold;
      &:first-letter {
         font-size: 22px;
      }
      span {
         font-size: 16px;
      }
      img {
         width: 23px;
         margin-left: 4px;
      }
      @media (max-width: 890px) {
         font-size: 13px;
         background-color: #2756fd;
         padding: 3px 4px;
         border-radius: 4px;
         text-align: center;
         img {
            display: none;
         }
         span {
            display: none;
         }
         &:first-letter {
            font-size: 13px;
         }
      }
   }
   /* .promo__content */
   &__content-year,
   &__content-country,
   &__content-time {
      font-size: 15px;
      font-weight: normal;
      color: #ccc;
      margin-top: 6px;
   }
   &__content-year {
      @media (max-width: 890px) {
         padding: 3px 4px;
         border-radius: 4px;
         background-color: #00000096;
         color: #fff;
         margin-top: 0;
      }
   }
   &__content-country,
   &__content-time {
      @media (max-width: 890px) {
         display: none;
      }
   }
   /* .promo__wrapper-title */
   &__wrapper-title {
      color: #ffffffe8;
      padding-top: 12px;
      line-height: 120%;
      @media (max-width: 890px) {
         font-size: 15px;
      }
   }
   /* .promo__wrapper-subtitle */
   &__wrapper-subtitle {
      font-weight: normal;
      padding-top: 5px;
      font-size: 14px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
   }
}

a.promo__title:hover {
   color: #2756fd;
}

.name-rating {
   display: block;
   font-size: 13px !important;
   margin-bottom: 13px;
   color: #ffffff73;
}
