.header {
   z-index: 5;
   height: 100%;
   /* .header__container */
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1320px;
      padding: 0 20px;
      margin: 10px auto 40px;
   }
}

.header__logo {
   z-index: 5;
   color: #fff;
   h1 {
      font-size: 35px;
      font-weight: bold;
   }
   p {
      font-size: 14px;
      font-weight: 300;
   }
}

.header {
   /* .header__menu */
   &__menu {
      flex: 1;
      margin-left: 20px;
      @media (max-width: 890px) {
         order: 1;
         flex: 0;
      }
   }
   /* .header__link */
   &__link {
      & + & {
         margin-left: 20px;
         @media (max-width: 890px) {
            margin-left: 17px;
         }
      }
   }
   /* .header__actions */
   &__actions {
      @media (max-width: 890px) {
         flex: 1;
         text-align: end;
      }
   }
}

.menu__body.active body {
   overflow-y: hidden;
}

.menu {
   /* .menu__body */
   &__body {
      @media (max-width: 890px) {
         visibility: hidden;
         opacity: 0;
         transition: all 0.3s;
         &.active {
            visibility: visible;
            opacity: 1;
         }
      }
   }
   /* .menu__list */
   &__list {
      display: flex;
      margin-left: 50px;
      @media (max-width: 890px) {
         display: block;
         position: fixed;
         top: 80px;
         left: 0;
         width: 100%;
         height: 100%;
         padding: 0 0 0 20px;
         background-color: #000a2f;
         margin-left: 0;
         overflow: scroll;
         z-index: 4;
         &::before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 80px;
            background-color: #000a2f;
            z-index: 100;
         }
      }
   }
   /* .menu__item */
   &__item {
      position: relative;
      font-size: 18px;
      & + & {
         margin-left: 40px;
         @media (max-width: 890px) {
            margin-left: 0;
         }
      }
      transition: color 0.3s;
      &:hover .menu__link {
         color: #fff;
      }
      @media (max-width: 890px) {
         font-size: 22px;
         color: #fff;
         padding: 15px 0;
      }
      button {
         font-weight: 700;
      }
   }
   /* .menu__link */
   &__link {
      position: relative;
   }
}

.sub-menu {
   /* .sub-menu__list */
   &__list {
      display: none;
      position: absolute;
      min-height: 165px;
      min-width: 250px;
      padding-top: 9px;
      font-size: 16px;
      left: -11px;
      z-index: 3;
      @media (max-width: 890px) {
         display: none;
         position: inherit;
         min-height: auto;
         min-width: auto;
         padding-top: 0;
         font-size: 18px;
         margin-left: 35px;
         &.open {
            display: block;
         }
      }
   }
   /* .sub-menu__item */
   &__item {
      background-color: #000a2f;
      &:first-child {
         border-top-left-radius: 10px;
         border-top-right-radius: 10px;
         padding-top: 14px;
         @media (max-width: 890px) {
            padding-top: 10px;
         }
      }
      &:last-child {
         border-bottom-left-radius: 10px;
         border-bottom-right-radius: 10px;
         padding-bottom: 14px;
         @media (max-width: 890px) {
            padding-bottom: 0px;
         }
      }
   }
   /* .sub-menu__link */
   &__link {
      display: inline-block;
      padding: 7px 15px;
      transition: color 0.3s;
      line-height: 22px;
      &:hover {
         color: #fff;
      }
   }
}

.icon-user:hover::before,
.icon-search:hover::before {
   color: #fff;
}

.icon-menu {
   display: none;
   @media (max-width: 890px) {
      display: block;
      position: relative;
      width: 30px;
      height: 18px;
      cursor: pointer;
      z-index: 5;
      span,
      &::before,
      &::after {
         content: "";
         transition: all 0.3s ease 0s;
         left: 0px;
         position: absolute;
         width: 100%;
         height: 2px;
         background-color: rgba(255, 255, 255, 0.65);
      }
      &::before {
         top: 0px;
      }
      &::after {
         bottom: 0px;
      }
      span {
         top: calc(50% - 1px);
      }
      &.active {
         span {
            transform: scale(0);
            background-color: #fff;
         }
         &::before {
            transform: rotate(-45deg);
            top: calc(50% - 1px);
            background-color: #fff;
         }
         &::after {
            transform: rotate(45deg);
            bottom: calc(50% - 1px);
            background-color: #fff;
         }
      }
   }
}

.menu__link.icon-square::before {
   display: none;
   // @media (min-width: 891px) {
   //    display: block;
   // }
   @media (max-width: 890px) {
      display: block;
      position: absolute;
      right: -20px;
      top: 8px;
      font-size: 12px;
      transition: transform 0.3s;
   }
}

html.mouse .menu__item:hover .sub-menu__list {
   display: block;
}

.icon-square.click::before {
   transform: rotate(-90deg);
}
