.header {
   z-index: 5;
   height: 100%;
   /* .header__container */
   &__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1320px;
      padding: 0 20px;
      margin: 10px auto 20px;
   }
}
