.gallery {
   max-width: 100%;
   margin: 0 auto;
   text-align: center;
   height: 550px;
   @media (max-width: 1320px) {
      height: 42vw;
   }
   @media (max-width: 890px) {
      height: 360px;
   }
}

.gallery .photos {
   position: relative;
}

.gallery .photos a {
   visibility: hidden;
   transition: all 1s;
   opacity: 0;
   position: absolute;
   left: 0;
   width: 100%;
}

.gallery .photos img {
   width: 100%;
   border-radius: 15px;
   @media (max-width: 890px) {
      height: 360px;
      object-fit: cover;
      border-radius: 0px;
   }
}

.gallery .photos a.showed {
   visibility: visible;
   opacity: 1;
}

.slider {
   margin-bottom: 55px;
   /* .slider__container */
   &__container {
      position: relative;
      @media (max-width: 890px) {
         padding: 0;
      }
   }
   /* .slider__buttons-prev */
   &__buttons-prev,
   &__buttons-next {
      position: absolute;
      margin-top: -17px;
      top: 50%;
      @media (max-width: 890px) {
         margin-top: -35px;
      }
   }
   /* .slider__buttons-next */
   &__buttons-next {
      right: -20px;
      @media (max-width: 1400px) {
         right: 30px;
         width: 50px;
         height: 70px;
         background-color: #ffffff2b;
         border-radius: 8px;
      }
      @media (max-width: 590px) {
         right: 10px;
         width: 40px;
         height: 60px;
      }
   }
   &__buttons-prev {
      left: -20px;
      @media (max-width: 1400px) {
         left: 30px;
         width: 50px;
         height: 70px;
         background-color: #ffffff2b;
         border-radius: 8px;
      }
      @media (max-width: 590px) {
         left: 10px;
         width: 40px;
         height: 60px;
      }
   }
}

.icon-arrow-left::before,
.icon-arrow-right::before {
   color: rgba(255, 255, 255, 0.65);
   font-size: 35px;
   transition: color 0.3s;
   @media (max-width: 1400px) {
      color: #fff;
   }
   @media (max-width: 590px) {
      font-size: 25px;
   }
}
.icon-arrow-left:hover::before,
.icon-arrow-right:hover::before {
   color: #fff;
}
