@import "null";
@import url("https://fonts.googleapis.com/css?family=Open+Sans:regular,600");
@import "fonts";
@import "header";
@import "footer";
@import "popup";
@import "slider";

.page {
   min-height: 100%;
   display: flex;
   flex-direction: column;
   overflow: hidden;
   > main {
      flex: 1 1 auto;
   }
   > * {
      min-width: 0;
   }
}
.container {
   margin: 0 auto;
   max-width: 1320px;
   padding: 0 20px;
}

//====Promo====================================================================================================================================================

.promo {
   height: 1700px;
   /* .promo__container */
   &__container {
   }
   /* .promo__title */
   &__title {
      display: inline-block;
      font-weight: 600;
      font-size: 26px;
      line-height: 35px;
      color: #ffffff;
      position: relative;
      margin-bottom: 20px;
      &.icon-square::before {
         display: block;
         position: absolute;
         right: -20px;
         top: 14px;
         font-size: 12px;
      }
   }
   /* .promo__wrapper */
   &__wrapper {
      display: flex;
      flex-wrap: wrap;
   }
   /* .promo__card */
   &__card {
      width: 200px;
      height: 280px;
      margin-right: 20px;
      position: relative;
      & img {
         width: 100%;
         border-radius: 10px;
         transition: all 0.3s;
      }
      &::before {
         content: "";
         opacity: 0;
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
         background-color: rgb(0 1 6 / 80%);
         border-radius: 10px;
         transition: all 0.3s;
         z-index: 1;
      }
      &:hover::before {
         opacity: 1;
         transform: scale(1.05);
      }
      &:hover .promo__content {
         opacity: 1;
      }
      &:hover img {
         transform: scale(1.05);
      }
      &:hover .promo__wrapper-title {
         color: #fff;
      }
   }
   /* .promo__content */
   &__content {
      opacity: 0;
      transition: opacity 0.3s;
      position: absolute;
      bottom: 35px;
      color: #ffffff;
      padding: 0 20px;
      z-index: 2;
   }
   /* .promo__content-rating */
   &__content-rating {
      font-size: 22px;
      font-weight: bold;
      span {
         font-size: 20px;
      }
      img {
         width: 23px;
         margin-left: 4px;
      }
   }
   /* .promo__content */
   &__content-year,
   &__content-country,
   &__content-time {
      font-size: 15px;
      font-weight: normal;
      color: #ccc;
      margin-top: 6px;
   }
   /* .promo__wrapper-title */
   &__wrapper-title {
      color: #ffffffe8;
      padding-top: 12px;
   }
   /* .promo__wrapper-subtitle */
   &__wrapper-subtitle {
      font-weight: normal;
      padding-top: 5px;
      font-size: 14px;
   }
}
.container {
}

//========================================================================================================================================================
